[submodule "external/physfs"]
	path = external/physfs
	url = http://github.com/jopadan/physfs
[submodule "external/whmath"]
	path = external/whmath
	url = http://github.com/jopadan/whmath
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = http://github.com/syoyo/tinygltf
